requests==2.3.0
Babel
Flask
Flask-Babel
Flask-Login
Flask-Mail
Flask-OpenID
Flask-SQLAlchemy
Flask-WTF
Jinja2
psycopg2
SQLAlchemy
Tempita
WTForms
Werkzeug
Whoosh
blinker
coverage
decorator
flup
guess-language
gunicorn
python-openid
pytz
speaklater
sqlalchemy-migrate