{% extends "base/base.html" %}

{% block extrahead %}

<script type="text/javascript">

function toFunction(id)
{
var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
var book_id = id;

$.getJSON($SCRIPT_ROOT + "{{ url_for('_ajax_delete') }}",
    {id:book_id},
      function(data) {
        $("#"+data.result).hide();
      });
}

$(document).ready(function() {
    $('#pdf').change(function() {
      var newurl = $('#pdf').val();
      $('a.target').attr('href', newurl);
    });
});

</script>

{% endblock %}
{% block content %}
{% for post in query %}

<div id="book{{post[0]}}" style="overflow: hidden;">
<div>
    <div style="float: left;">
        {% if g.user.is_authenticated() %}
        <a href="{{ url_for('edit_book', a=post[2], b=post[1]) }}">{{ post[1] }}<a>
        &nbsp;&mdash;&nbsp;
        <a href="{{ url_for('edit_auth', a=post[2]) }}">{{ post[2] }}<a>&nbsp;|&nbsp;
        <font size="-1"><a href="javascript:void(0);" onclick="toFunction({{ post[0] }})">Удалить</a></font>
        {% else %}
        {{ post[1] }}
        &nbsp;&mdash;&nbsp;
        {{ post[2] }}
        {% endif %}
    </div>
</div>
</div>
<br>
{% endfor %}
{% endblock %}